@media screen and (min-width: 568px) {
  .home_navigation1 {
    display: none;
  }
}

/* media queries for screen size 568px */
@media screen and (max-width: 567px) {
  .home_navigation1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.3vh;
    padding: 0 5px;
    z-index: 9999;
    border-top: 3px solid #fff;
  }

  .sidebar1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .sidebarOptions1.hide-text1 span {
    display: none;
  }

  .sidebarOptions1:hover {
    color: var(--vacay-color);
    border-radius: 30px;
    transition: color 100ms ease-out;
    padding: 0.5rem 1rem;
  }

  .sidebarOptions1.active {
    color: var(--vacay-color);
  }
  .sidebarOptions1 {
    display: flex;
    align-items: center;
    gap: 0rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    font-weight: 800;
    margin: 0.5rem 0;
    border: none;
    outline: none;
  }

  /* .sidebarOptions1:hover {
    background-color: var(--vacay-background);
    color: var(--vacay-color);
    border-radius: 30px;
    transition: color 100ms ease-out;
    padding: 0.5rem 1rem;
  } */

  /* .sidebar1 button {
    color: var(--vacay-black);
  } */

  .loggedUser_details1 {
    margin: 0;
    padding: 0;
  }

  .sidebarOptions1 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}
