.home_container {
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

/* <--- this is where i am styling the createPost component ---> */

.home_mid_section {
  flex: 0.5;
  /* border-right: 1px solid var(--vacay-background); */
  min-width: fit-content;
}

.homeSectionOverflow,
.exploreSectionOverflow {
  overflow: scroll;
}

.feed_header {
  position: sticky;
  top: 0;
  /* background-color: #bfdbfe; */
  z-index: 100;
  border: 1px solid var(--vacay-background);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feed_header_special {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.feed_header h2 {
  font-size: 20px;
  font-weight: 800;
}

.themeCard {
  display: flex;
  gap: 0.4rem;
}

.home_mid_section::-webkit-scrollbar {
  display: none;
}

.home_mid_section {
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

/* trending btns*/
.home_rightSide_btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--vacay-background);
}

.home_rightSide_btns .trendingLatestBtns {
  font-size: 1rem;
  width: 50%;
  padding: 0.5rem;
  border: none;
}

.home_rightSide_btns button:hover {
  background-color: var(--vacay-color);
  color: #fff;
}

.home_rightSide_btns button.active {
  background-color: var(--vacay-color);
  color: #fff;
}

/* home feed scroll */

.mid_container {
  overflow-y: scroll;
  width: 700px;
  border-right: 1px solid var(--vacay-background);
}

.suggeston_container {
  overflow: scroll;
}

.showSearchedUsers {
  position: absolute;
  z-index: 9999;
  right: 30%;
  top: 20%;
}

/* media queries */

@media screen and (min-width: 768px) and (max-width: 940px) {
  .mid_container {
    overflow-y: scroll;
    width: 620px;
    border-right: 1px solid var(--vacay-background);
  }
}

@media screen and (min-width: 1250px) {
  .home_header_search {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .home_header_search {
    display: block;
  }
}
