.dark {
  background-color: var(--vacay-black);
  color: #fff;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #fff;
}

.dark p,
.dark span {
  color: #fff;
  background-color: transparent;
}

.dark .sidebarOptions {
  color: #fff;
}

.dark .sidebarOptions:hover {
  background-color: var(--vacay-black);
  color: var(--vacay-color);
}

.dark .home_rightSide_btns .trendingLatestBtns {
  font-size: 1rem;
  width: 50%;
  padding: 0.5rem;
  border: none;
  background-color: var(--vacay-black);
  color: #fff;
  border-right: 1px solid grey;
}

.dark .home_rightSide_btns button:hover {
  background-color: var(--vacay-black);
  color: #fff;
}

.dark .home_rightSide_btns button.active {
  background-color: var(--vacay-color);
  color: #fff;
}

.dark .likedHeart {
  color: red;
}

.dark .bookmarkAdded {
  color: var(--vacay-color);
}

.dark .modal-btn {
  color: #fff;
  background-color: var(--vacay-black);
  border-radius: 30px;
  border: 1px solid #fff;
  font-weight: bold;
}

.dark .modal-btn:hover {
  transform: scale(1);
  transition: all 0.1s;
  background-color: var(--vacay-color);
  border-radius: 30px;
  width: 110px;
  font-size: 1rem;
  padding: 10px;
  outline: none;
  color: #fff;
  border: none;
}

.dark .user_follow_unfollow_btns {
  color: #fff;
  background-color: var(--vacay-black);
  border: 1px solid #fff;
}

.dark .edit_and_delete_show {
  background-color: var(--vacay-black);
}

.dark .modal-wrapper,
.dark .modal-wrapper2,
.dark .newPost-wrapper {
  background-color: rgba(16, 15, 15, 0.9);
}

.dark .modal-container,
.dark .modal-container2,
.dark .newPost-container {
  background-color: var(--vacay-black);
}

.dark .updateBtn {
  background-color: var(--vacay-black);
  border: 1px solid #fff;
  color: #fff;
}

.dark .edit_user_profile_content {
  background-color: var(--vacay-black);
  color: #fff;
}

.dark .edit_action_btns {
  background-color: var(--vacay-black);
  color: #fff;
}

.dark .edit_textarea > textarea {
  background-color: var(--vacay-black);
  color: #fff;
}

.dark .search-users-show {
  background-color: var(--vacay-black);
}

.dark .edit_profile_details input {
  color: #fff;
}

/* .dark .logout {
  color: #fff;
} */

.dark .loggedUser_details:hover {
  color: var(--vacay-color);
  background-color: var(--vacay-black);
}

.dark .user_logout_card {
  background-color: var(--vacay-black);
  color: #fff;
}

.dark .user_logout_card > button {
  background-color: var(--vacay-black);
  color: #fff;
}

.dark .user_logout_card > div {
  background-color: var(--vacay-black);
}

.dark .home_navigation1 {
  background-color: var(--vacay-black);
}

.dark .followerCard_content {
  background-color: var(--vacay-black);
  color: #fff;
}

.dark .themeNav {
  backdrop-filter: blur(15px);
  background: none;
}

.dark .themeNav svg {
  font-size: 1.5rem;
  mix-blend-mode: color-burn;
}

.dark .user_follow_button button {
  background-color: var(--vacay-black);
  color: #fff;
  border: 1px solid #fff;
}

.dark .user_follow_button button:hover {
  background-color: var(--vacay-color);
  color: #fff;
}

.dark .suggestion_input {
  border: 1px solid #fff;
  background-color: var(--vacay-black);
}

.dark .suggestion_input svg {
  font-size: 1.3rem;
  color: var(--primary);
  margin-left: 10px;
}

.dark .suggestion_input input {
  background-color: var(--vacay-black);
  outline: none;
  font-size: 1rem;
  caret-color: #fff;
}

.dark .feed_header {
  background-color: var(--vacay-black);
}

.dark .following_container:hover {
  background-color: #0d0d0d;
}

.dark .unFollowBtn,
.dark .followBtn,
.dark .unFollowBtnAgain {
  border: 1px solid #fff;
  background-color: var(--vacay-black);
  color: #fff;
}

.dark .unFollowBtn:hover,
.dark .followBtn:hover,
.dark .unFollowBtnAgain:hover {
  background-color: var(--vacay-color);
  color: #fff;
}

.dark .search-user-details span:first-of-type {
  color: #fff;
}

/* light mode */
/* light mode */
/* light mode */
/* light mode */

.light {
  background-color: #fff;
  color: var(--vacay-black);
}

.dark .sidebarOptions {
  color: #fff;
}

.light .sidebarOptions1:hover {
  color: var(--vacay-color);
}

.light .sidebarOptions1 {
  color: var(--vacay-black);
}

.light .sidebarOptions1.active1 {
  color: var(--vacay-color);
}

.light .newPost-wrapper {
  background-color: rgba(189, 189, 189, 0.7);
}

.light .edit_textarea > textarea {
  background-color: #fff;
  color: var(--vacay-black);
}

.light .logout {
  color: var(--vacay-black);
}

.logout svg {
  font-size: 1.2rem;
}
