.feed_header {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.feed_header svg {
  font-size: 1.2rem;
  stroke-width: 100;
  cursor: pointer;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 0.9);
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: azure;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  z-index: 999;
}

.modal-btn {
  width: 110px;
  font-size: 1rem;
  border-radius: 30px;
  padding: 10px;
  outline: none;
  border: none;

  /* color: #fff; */
  cursor: pointer;
  /* font-family: "work Sans", sans-serif; */
  position: absolute;
  right: 0;
  margin: 8px;
}

.modal-btn:hover {
  transform: scale(1);
  transition: all 0.1s;

  background-color: var(--vacay-color);
  border-radius: 30px;
  width: 110px;
  font-size: 1rem;
  padding: 10px;
  outline: none;
  color: #fff;
  border: none;
}

.profile-container {
  height: 200px;
  /* background-color: var(--vacay-color); */
  position: relative;
}
.profile-container_edit {
  height: 120px;
  /* background-color: var(--vacay-color); */
  position: relative;
}

.profile-container .profile_picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid var(--primary);
  bottom: -50px;
  left: 10px;
  cursor: pointer;
  object-fit: cover;
}

.profile-container_edit .profile_picture_edit {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* position: absolute; */
  border: 2px solid var(--primary);
  /* bottom: -50px; */
  /* left: 10px; */
  cursor: pointer;
  object-fit: cover;
}

.edit_profile_card_action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--vacay-background);
  padding-bottom: 0.5rem;
}

.edit_p {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.edit_p p {
  font-weight: 800;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.updateBtn {
  width: 100px;
  font-size: 0.875rem;
  border-radius: 30px;
  padding: 7px;
  outline: none;
  border: none;
}

.updateBtn:hover {
  background-color: var(--vacay-color);
  border-radius: 30px;
  width: 100px;
  font-size: 0.875rem;
  padding: 7px;
  outline: none;
  color: #fff;
  border: none;
}

.profile_banner {
  height: 100%;
  width: 100%;
}

.profile_banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.userBannerDiv {
  position: absolute;
  top: 60%;
  left: 50%;
  opacity: 0.9;
}

.userBanner {
  display: none;
}

.userBannerDiv svg {
  font-size: 1.8rem;
  color: var(--vacay-black);
  background-color: var(--vacay-background);
  padding: 5px;
  z-index: 999;
}

.bannerEdit {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-radius: 5px;
}

.edit_banner {
  position: relative;
}

.banner_camera {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 1.3rem;
  background-color: rgba(83, 83, 83, 0.423);
  border-radius: 50%;
  color: #fff;
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.edit_profile_image {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.profile_camera {
  position: absolute;
  left: 17%;
  top: 44%;
  transform: translate(-50%, -505);

  font-size: 1.3rem;
  background-color: rgba(83, 83, 83, 0.423);
  border-radius: 50%;
  color: #fff;
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.avatarEdit {
  position: absolute;
  z-index: 999;
  right: 16%;
  top: 43%;
  font-size: 1.3rem;
  background-color: rgba(83, 83, 83, 0.423);
  border-radius: 50%;
  color: #fff;
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.profile-section {
  position: relative;
  /* border-bottom: 1px solid var(--primary); */
}

.profile-details {
  margin: 4rem 0 0 1.4rem;
  text-align: left;
}

.edit_profile_details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 0.4rem;
}

.edit_profile_details input {
  padding: 0.4rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.edit_profile_details fieldset {
  padding-left: 10px;
  border-radius: 5px;
}

.profile-details p {
  height: 30px;
}

.profile-details p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
}

.profile-details p:nth-child(2) {
  margin-top: -5px;
  color: var(--primary);
}

.profile-details svg {
  margin-bottom: -3px;
  /* font-size: 2px; */
  color: var(--primary);
}

.profile-details a {
  text-decoration: none;
  color: var(--vacay-color);
}

.user_social {
  display: flex;
  gap: 1.2rem;
  margin: 0 1.4rem;
  cursor: pointer;
}

.user_social p {
  margin-top: 0.7rem;
}

.user_social_link {
  color: var(--vacay-color);
  text-decoration: none;
}

.user_following_count {
  color: var(--vacay-black);
}

.user_following {
  color: var(--primary);
}

.user_profile_postNall {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.7rem;
  border-bottom: 1px solid var(--primary);
  padding: 10px;
  text-transform: uppercase;
}

.user_profile_postNall p {
  background-color: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.user_profile_postNall p:hover {
  background-color: var(--vacay-background);
  padding: 10px;
}

.profile_pic_alias_input {
  position: absolute;
  bottom: -40px;
  left: 60px;
  display: none;
}

.profile_pic_alias svg {
  position: absolute;
  bottom: 120px;
  left: 18%;
  color: var(--vacay-black);
  font-weight: 600;
  font-size: 2rem;
  background-color: rgba(189, 189, 189, 0.9);
  padding: 2px;
  border-radius: 3px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.profile_pic_alias svg:hover {
  transform: scale(1.1);
}

.avatarUpdateCard {
  width: 400px;
  background-color: var(--vacay-background);
}

/* avatarUpdate card */
.modal-wrapper2 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 0.3);
}

.modal-container2 {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: azure;
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 999;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.choose_avatar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* flex-wrap: wrap; */
  /* width: 300px; */
}

.choose_avatar div {
  position: relative;
  display: inline-block;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
}

.choose_avatar div:hover {
  transform: scale(1.1);
}

.choose_avatar div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.profile_picture_card {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  bottom: -50px;
  left: 15px;
  object-fit: cover;
}

/* spinner styling */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
}

.spinner-icon {
  animation: spin 1s linear infinite;
  font-size: 24px; /* Adjust the size as needed */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* follower card modal */
/* CSS for followers card popup */
.followerCard_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.followerCard_content {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 5px;
}

.followerCard_closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #9b1111;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.followerCard_closeBtn:hover {
  border: 1px solid #9b1111;
  z-index: 999;
  border-radius: 50%;
  font-weight: 1000;
}
