@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,200;1,100&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* body {
  font-family: "Dancing Script", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
} */

::-webkit-scrollbar {
  display: none;
  padding: 0;
  width: 0;
  margin: 0;
}

:root {
  --primary: #606060;
  --vacay-color: #50b7f5;
  --vacay-background: #e6ecf0;
  --vacay-black: #000000;
}

/* Default font-size for mobile */
/* h1 {
  font-size: 2rem;
  line-height: 1.3;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.4;
}
p {
  font-size: 1rem;
  line-height: 1.6;
} */

/* Styling Main Section */
.home_container {
  /* margin-top: 2vh; */
  display: grid;
  grid-template-areas: "left middle right";
  grid-template-columns: 0.9fr 1.5fr 1.2fr;
}

.navigation_container {
  grid-area: left;
}

.mid_container {
  height: 96vh;
  overflow: scroll;
  overflow-x: hidden;
  grid-area: middle;
  /* border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color); */
  border-width: thin;
}

.suggeston_container {
  .right-section {
    grid-area: right;
    display: block;
  }
}

/***************** Media queries for responsive *************************/

@media screen and (max-width: 768px) {
  .navigation_container {
    grid-area: left;
  }

  .home_container {
    margin-top: 0;
    display: grid;
    justify-content: center;
    grid-template-areas: "middle" "left";
    grid-template-rows: 100%;
    grid-template-columns: 1fr;
  }

  .suggeston_container {
    grid-area: right;
    display: none;
  }

  .mid_container {
    height: 93vh;
    overflow: scroll;
    overflow-x: hidden;
    grid-area: middle;
    border-left: 0px solid var(--primary-color);
    border-right: 0px solid var(--primary-color);
    border-width: thin;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .home_container {
    margin: 0 1.5rem;
    margin-top: 2vh;
    display: grid;
    justify-content: center;
    grid-template-areas: "left middle";
    grid-template-columns: 65px 1fr;
  }

  .suggeston_container {
    grid-area: right;
    display: none;
  }
  /* .navigation_container {
    width: 200px;
  } */
}

@media (min-width: 1024px) and (max-width: 1250px) {
  .home_container {
    margin-top: 2vh;
    display: grid;
    justify-content: center;
    grid-template-areas: "left middle";
    grid-template-columns: 0.1fr 0.7fr;
  }

  .suggeston_container {
    grid-area: right;
    display: none;
  }
}

/* Responsive typography using media queries */

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }
}
