.following_header_username {
  font-size: 13px;
  color: var(--primary);
}

/* .following_user_special {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 0 0 0;
}
.following_user_special p {
  background-color: var(--primary);
  text-align: center;
  width: 100%;
  padding: 0 16px;
}
.following_user_special p:hover {
  background-color: var(--primary);
  width: 100%;
  padding: 0 16px;
} */

.following_user_special {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.7rem;
  /* border-bottom: 1px solid var(--primary); */
  padding: 10px;
  text-transform: uppercase;
  margin-bottom: -24.2px;
}

.following_user_special .p {
  background-color: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: var(--vacay-black);
}

.following_user_special .p:hover {
  background-color: var(--vacay-background);
  padding: 10px;
}

/* user following */

.following_description img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.following_description a {
  text-decoration: none;
  color: var(--vacay-black);
}

.following_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1.2rem;
}
.following_container:hover {
  background-color: var(--vacay-background);
  width: 100%;
}

.following_description {
  display: flex;
  gap: 1.2rem;
}

.following_headerText p:nth-child(2) {
  font-size: 0.8rem;
  color: var(--primary);
}

.unFollowBtn,
.followBtn {
  width: 110px;
  font-size: 1rem;
  border-radius: 30px;
  padding: 10px;
  outline: none;
  border: none;
}

.unFollowBtn:hover,
.followBtn:hover {
  background-color: var(--vacay-color);
  border-radius: 30px;
  width: 110px;
  font-size: 1rem;
  padding: 10px;
  outline: none;
  color: #fff;
  border: none;
}

.unFollowBtn::after {
  content: "Following";
}

.followBtn::after {
  content: "Follows You";
}

.unFollowBtn:hover::after {
  content: "Unfollow";
}

.followBtn:hover::after {
  content: "Follow Back";
}

.feed_header_HeaderText {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.4rem;
}

.feed_header_HeaderText svg {
  font-size: 1.2rem;
  stroke-width: 100;
}
